#connexion{
    padding-top: 5px;
    color: #FF6600;
}
#connexion button{
    color: #222222;
}
#connexion input{
    color: #222222;
}

.ln-foyer:hover{
    color: #B84B00 !important;
}

.ln-foyer{
    color: #FF6600 !important;
}

#logo{
    margin-left: -15px;
    margin-top: -12px;
}